<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InvoiceMachine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CE93F2B1F4C3FCA00FE4BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CE93F411F4C3FCA00FE4BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CE93F4C1F4C3FCA00FE4BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
