<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>676936443178-off0ci9eq7lpcnce5u7dhid0m68c4ccb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676936443178-off0ci9eq7lpcnce5u7dhid0m68c4ccb</string>
	<key>API_KEY</key>
	<string>AIzaSyC8_vLgjaiFd-uzbP-orM-jWO44vwANcaE</string>
	<key>GCM_SENDER_ID</key>
	<string>676936443178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.njen.invoice.ios</string>
	<key>PROJECT_ID</key>
	<string>invoice-machine</string>
	<key>STORAGE_BUCKET</key>
	<string>invoice-machine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:676936443178:ios:026f9c1cac95518b</string>
	<key>DATABASE_URL</key>
	<string>https://invoice-machine.firebaseio.com</string>
</dict>
</plist>